/*
 
 This file contains the styling of HTML elements.
 
 COLOUR PALLETE
 [tba]
 */

* {
    font-family: "Arial Black";
}

.half {
    position: absolute;
    top: 0px;
    width: 50%;
    height: 100%;
    z-index: -1;
    border: 1px solid;
}

.left {
    left: 0px;
    background-color: red;
    float: left;
}

.right {
    right: 0px;
    background-color: blue;
    float: right;
}

.goal {
    display: block;
    width: 180px;
    height: 90px;
    margin: auto;
    background-color: #000000;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    color: white;
    text-align: center;
    margin-top: 25px;
}

.score {
    display: block;
    width: 33%;
    height: 100%;
    
}

.goal>.left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.goal>.right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.goal:hover {
    border-color: yellow;
}
