/*
 
 This file contains the styling of HTML elements.
 
 COLOUR PALLETE
 [tba]
 */

* {
    font-family: "Arial Black";
}

.half {
    position: absolute;
    top: 0px;
    width: 50%;
    height: 100%;
    z-index: -1;
    border: 1px solid;
}

.left {
    left: 0px;
    background-color: red;
    float: left;
}

.right {
    right: 0px;
    background-color: blue;
    float: right;
}

.goal {
    display: block;
    width: 180px;
    height: 90px;
    margin: auto;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    color: white;
    text-align: center;
    margin-top: 25px;
}

.score {
    display: block;
    width: 50%;
    height: 100%;
    
}

.goal>.left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.goal>.right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.goal:hover {
    border-color: yellow;
    transition: 0.75s;
    transform: scale(1.1);
}

.completed {
    background-color: yellow;
}

.completed:hover {
    transform: scale(1); !important
}

#YourScore {
    display: block;
    width: 150px;
    margin: auto;
    margin-top: 20px;
    background-color: green;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    text-align: center;
}

.cards {
    background-color: purple;
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    margin-top: 20px;
    height: 120px;
}

.cards img {
    height: 90px;
    margin: 15px;
}

.cards img:hover {
    transition: 1s;
    transform: scale(1.2);
}

/*
.selected {
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    color: yellow;
}
*/

.value {
    position: absolute;
    display: block;
    width: 50px;
    height: 90px;
    margin-bottom: 25px;
    background-color: #000000;
    color: white;
    border-style: solid;
    border-width: 5px;
    border-radius: 30px;
    text-align: center;
}

.player {
    left: 0px;
    margin-left: 40px;
}

.opponent {
    right: 0px;
    margin-right: 40px;
}

.value>p {
    margin: auto;
}
