
* {
    /* font-family: "Arial Black"; */
    background-color: darkslategray;
    color:white;
    font: "Lucida Grande","Helvetica Neue", sans-serif;
    
    
}


.title {
    margin-top: 3%;
    /* font: 50px; */
    font-size: 200%;
    text-align:center;

}


.rules {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 1%;
    font-size: 160%;
    text-align:left;

}

.play{
    text-align:center;
    margin-top: 3%;
    font-size: 400%;
}

.small{
    text-align:left;
    font-size: 80%;

}